
a:link {
  text-decoration: none;
}

a:hover {
    background-color: #eeeeee;
}


span.right  {text-align: right;}
span.left   {text-align: left;}
span.center {text-align: center;}

div.rightalign  {text-align: right; float: right; display: inline;}
div.leftalign   {text-align: left; float: left; display: inline;}

table.login     {border: none;}
td.login        {border: none;}

table.doclist   {border: none;}
td.doclist      {border: none;padding-left: 30px;padding-top: 3px;padding-bottom: 3px;}
td.docliststars {border: none;padding-left: 10px;padding-top: 0;padding-bottom: 0;text-align: center;}

table.bitext   {width: 100%;}
td.bitext-src  {width: 40%;}
td.bitext-trg  {width: 40%;}

table.segment  {width: 100%; border: none;}
td.segment-id  {width: 10%; border: none;}
td.segment-move {width: 10px; text-align: center; border: none; background-color: white;}
td.segment-src {text-align: right; border: none;}
td.segment-trg {text-align: left; border: none;}

td.leftalign   {text-align: left;width: 40%;padding-left: 10px;}
td.rightalign  {text-align: right;width: 40%;padding-right: 10px;}
td.centeralign  {text-align: center;}
table {
  border-collapse: collapse;
}
th {
    border: none;
}
td {
  border: 1px dotted;
  padding-left: 5px;
  padding-right: 5px;
}

table.bitext-matrix {
    border: 1px dotted;
    border-collapse: collapse;
    padding: 5px;
}

th.bitext-matrix {
    border: none;
    padding: 5px;
}

td.bitext-matrix {
    border: 1px dotted;
    padding: 5px;
}


table.vertical-bitext {
  border-collapse: inherit;
  border-spacing: 0 10px;
}

th.vertical-bitext {
    width: 100%;
    border: 1px solid;
    border-collapse: collapse;
    border-spacing: 0 0;
}

a.clickable {
    color: blue;
}

a.clickable:hover {
    background-color: #eeeeee;
}

#aligntype-options {
/*    visibility: collapse;  */
    display: none;
}

#edit-options {
/*    visibility: collapse;  */
    display: none;
}


th.bitext   {
    border: none;
}

tr.bitextsrc   {
    border-top: 2px solid;
    border-left: 2px solid;
    border-right: 2px solid;
    background-color: #eeeeee;
}
tr.bitexttrg   {
    border-bottom: 2px solid;
    border-left: 2px solid;
    border-right: 2px solid;
}

tr.bitextspace   {
    border: none;
}
td.bitextspace   {
    border: none;
    padding-top: 10px;
    padding-bottom: 30px;
}




/*
tr.vbitext-src {
    border-top: 20px solid;
    border-color: white;
}

tr.vbitext-trg {
    border-bottom: 20px solid;
    border-color: white;
}


th.vbitext {
    border: 2px solid;
}
*/

    /*
tr.vbitext-src   {

    border-radius: 10px 0px 0px 0px;
    border-top: 2px solid;
    border-bottom: 1px dotted;
    border-left: 2px solid;
    border-right: 2px solid;
    background-color: #eeeeee;
}
tr.vbitext-trg   {
    border-top: 1px dotted;
    border-bottom: 2px solid;
    border-left: 2px solid;
    border-right: 2px solid;

}
*/

/*
table.search-form {
    border: none;
    border-collapse: separate;
    border-spacing: 0px;
    display: none;
}
*/

span.search-form {
    display: none;
}


table.vbitext {
    border: none;
    border-collapse: separate;
    border-spacing: 0px;
}

th.vbitext   {
    border: none;
    padding: 10px;
}

th.vbitext-search   {
    border: none;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 5px;
    padding-right: 5px;
}

th.vbitext-docname   {
    border: none;
    padding: 10px;
    text-align: right;
}

td.vbitext {
    border: 1px dotted;
}

td.vbitext-srcid {
    border-radius: 10px 0px 0px 0px;
    border-top: 2px solid;
    border-bottom: none;
    border-left: 2px solid;
    border-right: 1px dotted;
    background-color: #eeeeee;
    text-align: center;
}

td.vbitext-trgid {
    border-radius: 0px 0px 0px 10px;
    border-top: 1px dotted;
    border-bottom: 2px solid;
    border-left: 2px solid;
    border-right: 1px dotted;
    text-align: center;
}

td.vbitext-id {
    text-align: center;
}

td.vbitext-score {
    text-align: center;
    border-radius: 0px 10px 0px 0px;
    border-top: 2px solid;
    border-bottom: none;
    border-left: 1px dotted;
    border-right: 2px solid;
}

td.vbitext-score-empty {
    text-align: center;
    border-radius: 0px 10px 0px 0px;
    border-top: 2px solid;
    border-bottom: none;
    border-left: 1px dotted;
    border-right: 2px solid;
    background-color: #eeeeee;
}

td.vbitext-ratio {
    text-align: center;
    border-radius: 0px 0px 10px 0px;
    border-top: none;
    border-bottom: 2px solid;
    border-left: 1px dotted;
    border-right: 2px solid;
}

td.vbitext-ratio-empty {
    text-align: center;
    border-radius: 0px 0px 10px 0px;
    border-top: 1px dotted;
    border-bottom: 2px solid;
    border-left: 1px dotted;
    border-right: 2px solid;
}


td.vbitext-src {
    border-top: 2px solid;
    border-bottom: none;
    border-left: none;
    border-right: none;
    background-color: #eeeeee;
    padding: 5px;
}

td.vbitext-trg {
    border-top: 1px dotted;
    border-bottom: 2px solid;
    border-left: none;
    border-right: none;
    padding: 5px;
}

td.vbitext-rating   {
    border: none;
    padding-top: 10px;
    padding-bottom: 30px;
    text-align: center;
}






table.hbitext {
    border: none;
    border-collapse: separate;
    border-spacing: 2px;
}

th.hbitext   {
    border: none;
    padding: 10px;
    text-align: center;
}

td.hbitext {
    border: 1px dotted;
}

td.hbitext-srcid {
    border-radius: 10px 0px 0px 10px;
    border-top: 1px solid;
    border-bottom: 1px solid;
    border-left: 1px solid;
    border-right: none;
    text-align: center;
}

td.hbitext-trgid {
    border-radius: 0px 10px 10px 0px;
    border-top: 1px solid;
    border-bottom: 1px solid;
    border-right: 1px solid;
    border-left: none;
    text-align: center;
}

td.hbitext-edit-src {
    border-radius: 10px 0px 0px 10px;
    border: 1px solid;
    text-align: center;
    width: 45%;
}

td.hbitext-edit-trg {
    border-radius: 0px 10px 10px 0px;
    border: 1px solid;
    text-align: center;
    width: 45%;
}

td.hbitext-score {
    /*
    border-top: none;
    border-bottom: none;
    border-left: none;
    border-right: none;
    border-spacing: 0px;
   */
    border: none;
    text-align: center;
}

td.hbitext-ratio {
    /*
    border-top: none;
    border-bottom: none;
    border-left: none;
    border-right: none;
    border-spacing: 0px;
   */
    border: none;
    text-align: center;
}


td.hbitext-src {
    border-top: 1px solid;
    border-bottom: 1px solid;
    border-left: 1px solid;
    border-right: 1px solid;
    text-align: right;
    padding: 5px;
    width: 40%;
    background-color: #eeeeee;
}

td.hbitext-trg {
    border-top: 1px solid;
    border-bottom: 1px solid;
    border-left: 1px solid;
    border-right: 1px solid;
    text-align: left;
    padding: 5px;
    width: 40%;
}

td.hbitext-rating   {
    border: none;
    text-align: center;
}





.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  border-radius: 5px;  
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%; 
  background: #04AA6D;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #04AA6D;
  cursor: pointer;
}


a.black:link, a.black:visited {
  background-color: white;
  color: black;
  text-align: center;
  text-decoration: none;
}
